.nav-tabs .nav-link.active {
  background-color: #fff;
  border-color: transparent;
  color: #495057;
  border-bottom-color: $primary;
  border-bottom-width: 2px;
}

.nav-tabs .nav-link.active {
  font-weight: bold;
  color: $primary;
}

.nav-tabs .nav-link:hover {
  border-color: transparent;
  color: $primary;
  border-bottom-color: $primary;
  border-bottom-width: 2px;
}
